.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 100;
    width: 100%;
}

.header__icon{
    object-fit: contain;
    height: 100px;
    margin-left: 20px;
    padding: 10px;
    cursor: pointer;
}

.header__center{
    display: flex;
    align-items: center;
    flex: 1;
    max-width: fit-content;
    padding: 10px;
    height: 30px;
    border: 1px solid lightgrey;
    border-radius: 999px;
    cursor: pointer;
}

.header__center > input{
    border: none;
    width: 250px;
    outline-width: 0;
    padding: 10px;
}

.header__right{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 15vw;
    margin-right: 80px;
    cursor: pointer;
}
.header__right p{
    padding: 10px;
    transition: 0.5s;
}
.header__right p:hover{
    background-color: black;
    color: white;
    border-radius: 69px;
}


